.header-nav {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding: 12px;

    position: sticky;
    top: 0;
    z-index: 100;

    background: white;
}

.header-nav ion-button {
    --border-radius: 1px;
}

.botones {
    --background: rgb(19, 18, 18);
    color: white;
    cursor: pointer
    
}

.botones:active {
    --background: rgb(163, 168, 238);
    color: aliceblue;
    cursor: pointer
    
}